.footer {
    background-color: rgba(248, 199, 126);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0%;
    margin-top: 2%;
}

.footer-logo {
    width: 7%;
    height: 7%;
    border-radius: 100%;
}