.holiday-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 2rem;
    margin: 2rem;

}

img {
    border-radius: 5px;
}

.link-holiday-card
{
    margin: 0;
    text-decoration: none;
    color: black;
}